.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

nav ul {
  display: flex;
  gap: 1vw; /* Spacing between items */
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove padding */
}

nav a {
  padding: 1vw 1vw 1vh;
  text-decoration: none;
  font-size: calc(2px + 1.5vh); /* Basic responsive font size */
}

nav li {
  margin: 0; /* Remove margins */
}

.text-content {
  max-width: 80%; /* This will make the inner div take up 80% of the column width */
  text-align: left; /* This ensures the text is left-aligned */
}



.row.frame {
  flex-wrap: nowrap;
}

.col-4 {
  text-align: justify;
}

.not-first {
  margin-top: 10vh;
}

.img-fluid {
  padding-top: 0.5vh;
}

.footer {
  margin-top: 15vh;
  margin-bottom: 5vh;
}

.search-container button:hover {
  background-color: #0056b3; /* A bit darker for hover effect */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 750px) {
  .search-container input[type="text"] {
    width: 30vw; /* Set the width of the input box */
  }
}