.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

nav ul {
  display: flex;
  gap: 1vw; /* Spacing between items */
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove padding */
}

nav a {
  padding: 1vw 1vw 1vh;
  text-decoration: none;
  font-size: calc(2px + 1.5vh); /* Basic responsive font size */
}

nav li {
  margin: 0; /* Remove margins */
}

.text-content {
  max-width: 80%; /* This will make the inner div take up 80% of the column width */
  text-align: left; /* This ensures the text is left-aligned */
}

/* the caption under the member's profile photos */
#profile-photo-caption {
  text-align: center;
  font-weight: bold;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  background-color: #bdbdbd;
}

/* team badge in the history page */
#team-badge {
  margin-top: 4vh;
  margin-bottom: 1vh;
}

.row.frame {
  flex-wrap: nowrap;
}

/* to make text that are in 4-column boxes look neater */
.col-4 {
  text-align: justify;
}

/* style for the 1/3 photo 2/3 text components, cleaner spacing */
.not-first {
  margin-top: 10vh;
}
.first {
  margin-top: 5vh;
}

.img-fluid {
  padding-top: 0.5vh;
}

.footer {
  margin-top: 15vh;
  margin-bottom: 5vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 750px) {
  .search-container input[type="text"] {
    width: 30vw; /* Set the width of the input box */
  }
}